body {
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background: rgba(180, 180, 180, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: 0.3s all ease;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 55%;
}

button {
    background: rgba(180, 180, 180, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: 0.3s all ease;
    border-radius: 10px;
    padding: 10px;
    margin: 0 30px;
    text-align: center;
    cursor: pointer;
    color: white;
}
.linkbutton{
    background: rgba(180, 180, 180, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: 0.3s all ease;
    border-radius: 10px;
    padding: 10px;
    margin: 0 30px;
    text-align: center;
    cursor: pointer;
    color: white; 
    text-decoration: none;
}

.linkbutton:hover {
    transform: scale(1.1);
}   

button:hover {
    transform: scale(1.1);
}

#content {
    background: rgba(180, 180, 180, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: 0.3s all ease;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    height: 85vh;
    width: 55%;
}

.flash {
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  color: white;
}

.flash.success {
  background-color: #4CAF50; /* grön */
}

.flash.fail {
  background-color: #f44336; /* röd */
}