<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% block title %}Forum{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
    {% block menu %}
        <div class="wrapper">
            <button id="profile-button" class="profile_icon linkbutton">👤</button>
            <div id="profile-dropdown" class="dropdown_menu">
                {% if session.username %}
                    <span class="user-greeting">Inloggad som: <b>{{ session.username }}</b></span>
                {% endif %}
                <a href="/logout" class="linkbutton">Logga ut</a>
            </div>
        </div>
        <a href="/" class="linkbutton">Hem</a>
    {% endblock %}
    </header>


    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>