{% extends "base.html" %}

{% block menu %}
<div class="wrapper">
    <button id="profile-button" class="profile_icon" aria-expanded="false">👤</button>
    <div id="profile-dropdown" class="dropdown_menu" aria-hidden="true">
        <a href="/profile" class="linkbutton">Profil</a>
        <a href="/logout" class="linkbutton">Logga ut</a>
    </div>
</div>
    <a href="/" class="linkbutton">Hem</a>
{% endblock %}

{% block content %}
    <p>Du är nu inloggad.</p>

    <div class="forumbox">
        <h2>Forum</h2>
        <p>Här kan du diskutera olika ämnen med andra användare.</p>
        <a href="/topics" class="linkbutton">Visa Trådar</a>
        <a href="/create" class="linkbutton">Skapa Tråd</a>
    </div>
{% endblock %}