{% extends "base.html" %}

{% block menu %}
{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Sign Up</h2>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
        {% if error %}
        <p style="color: red;">Incorrect username or password</p>
        {% endif %}
    </form>
</div>
{% endblock %}