{% extends "base.html" %}

{% block content %}
<a href="/topics" class="linkbutton">Tillbaka till Trådar</a>
<div class="topic-container">
    <h2>{{ topic.header }}</h2>
    <p>{{ topic.description }}</p>
    <small>Av: {{ topic.username }} - {{ topic.date }}</small>
</div>
<div class="comment-container">
    <h3>Kommentarer</h3>
    {% for comment in comments %}
    <div class="comment">
    <p>{{ comment.content }}</p>
    <small>Av: {{ comment.username }} - {{ comment.date }}</small>
    <div>
        <span>Likes: {{ comment.like_count }}</span>
        <form method="post" action="/comment/{{ comment.id }}/like" style="display:inline;">
            <button type="submit" class="linkbutton">Gilla</button>
        </form>
    </div>
</div>
    {% endfor %}
<form class="comment" method="post">
    <label for="comment">Skapa Kommentar</label>
    <input type="text" id="comment" name="comment" required>
    <button type="submit" class="linkbutton">></button>
</form>
{% endblock %}