{% extends "base.html" %}

{% block content %}
<div class="topic-container">
    <div class="padding"></div>
    <a href="/topics" class="linkbutton">Tillbaka till Trådar</a>
    <h2>{{ topic.header }}</h2>
    <p>{{ topic.description }}</p>
    <small>Av: {{ topic.username }} - {{ topic.date }}</small>
</div>
<div class="comment-container">
    <div class="line"></div>
    <h3>Kommentarer:</h3>
    
    {% for comment in comments %}
    <div class="comment">
    <p>{{ comment.content }}</p>
    <div>
         <small>{{ comment.username }} - {{ comment.date }}</small>
        <span id="like-count-{{ comment.id }}">
        Likes: {{ comment.like_count }}
        </span>
        <button class="linkbutton like-button"
                data-comment-id="{{ comment.id }}">
            Gilla
        </button>
    </div>
    <div class="line"></div>
</div>
    {% endfor %}
<form class="comment" method="post">
    <label for="comment">Skapa Kommentar</label>
    <input type="text" id="comment" name="comment" required>
    <button type="submit" class="linkbutton">></button>
</form>
{% endblock %}